@charset "UTF-8";

/* ヘッダー（年月とボタン） */
div.calendar_header {
  text-align: center;
}

/* 年月 */
div.calendar_header > p#year_month_label {
  margin: 20px 20px 10px;
  font-size: 1.5em;
  font-weight: bold;
}

/* ボタン */
button#prev_year_btn,
button#prev_month_btn,
button#now_btn,
button#next_month_btn,
button#next_year_btn {
  width: 3em;
  height: 2em;
}

/* カレンダーテーブル */
table.calendar_tbl,
#tableList {
  min-width: 1000px;

  margin: 20px auto 0;
  border: 1px solid;
  border-collapse: collapse;
}

/* カレンダーテーブルの見出し（曜日） */
table.calendar_tbl tr th {
  text-align: center;
  border: 1px solid #000;
}

/* カレンダーテーブルの見出し（日曜日） */
table.calendar_tbl tr th:first-child {
  color: #f00;
}

/* カレンダーテーブルの見出し（土曜日） */
table.calendar_tbl tr th:last-child {
  color: #00f;
}

/* カレンダーテーブルの日付部分 */
table.calendar_tbl tr td {
  vertical-align: top;
  text-align: left;
  padding: 5px;
  border: 1px solid #000;
  height: 3em;
}

/* カレンダーテーブルで日付が入らない部分 */
table.calendar_tbl tr td.no_date {
  background-color: #f2f2f2;
}

/* カレンダーテーブルの日付の部分（日曜日） */
table.calendar_tbl tr td:first-child {
  z-index: 10;
  background-color: #fadbda;
  color: #f00;
}

/* カレンダーテーブルの日付の部分（土曜日） */
table.calendar_tbl tr td:last-child {
  background-color: #ddeeff;
  color: #00f;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.clBtn {
  width: 100px;
  background-color: yellow;
}

#table,
th,
td {
  border: 1px solid black;
  padding: 5px;
}

th {
  width: 100px;
  background-color: skyblue;
}

h2 {
  padding: 20px 0;
}

#list {
  margin: 50px 0;
}
.calendar_tbl th {
  background-color: darkorange;
}

.pclass {
  margin-top: 10px;
  margin-bottom: 3px;
}

h1 {
  text-align: center;
  padding-top: 10px;
}

#addh1 {
  text-align: left;
  padding-left: 10px;
  color: blue;
}

#form {
  width: 800px;
  background-color: greenyellow;
  padding: 10px;
}
